{{- $color := .Get 0 | default "blue" -}}
{{- $colorMap := dict "orange" "#FF3D00" "yellow" "#FFD600" "blue" "#2979FF" "green" "#00E676" -}}
{{- $textColor := index $colorMap $color | default "#2979FF" -}}
<span class="hl-shortcode" style="color: {{ $textColor }}; font-weight: bold;">{{- trim .Inner " \n\r\t" -}}</span><script>
    (function() {
        var s = document.currentScript;
        if (s) {
            var el = s.previousElementSibling;
            if (el && (el.closest('pre') || el.closest('code'))) {
                var content = el.innerText;
                var raw = '{{ "{{" }}< hl "' + '{{ $color }}' + '" >{{ "}}" }}' + content + '{{ "{{" }}< /hl >{{ "}}" }}';
                var text = document.createTextNode(raw);
                el.parentNode.replaceChild(text, el);
                s.remove();
            }
        }
    })();
</script>
